<div class = "window-container">
    <div class = "logos-container">
        <h1 class="header" style="margin-left: 20px;">Guitar Exercises Randomizer</h1>
        <!--img class = "lab-pic" src = "/images/computerlabpic.png"/-->
    </div>
    <div class ="ui-container">
        <div class = "options-container">
            <div class = "box-container" id="box-container">
                <div class = "buttons-ui">
                    <div class = "question-container">
                        <span class = "question">Choose exercise type:</span>
                    </div>
                    <div class = "button-container">
                        <button class = "exercise-choice" id="mode-button">Modes</button>
                    </div>
                    <div class = "button-container">
                        <button class = "exercise-choice" id="ps-button">Pentatonic Shapes</button>
                    </div>
                </div>
                <div class = "new-buttons-ui" id="new-buttons-ui">
                </div>
            </div>
        </div>
        <div class="display-container" id="display-container">
        </div>
    </div>
 </div>
 <script src="/js/main.js"></script>