<div class = "window-container">
    <div class = "logos-container">
            <h1 class="header" style="margin-left: 20px;">Guitar Exercises Randomizer</h1>
            <!--img class = "lab-pic" src = "/images/computerlabpic.png"/-->
        </div>
    <div class = "options-container">
        <div class = "box-container">
            <div class = "buttons-ui">
                <div class = "question-container">
                     <span class = "question">Choose exercise type:</span>
                </div>
                <div class = "button-container">
                    <button class = "exercise-choice" id="mode-button">Modes</button>
                </div>
                <div class = "button-container">
                    <button class = "exercise-choice" id="ps-button">Pentatonic Shapes</button>
                </div>
             </div>
            <div class = "question-container">
                <span class = "question">Choose scale:</span>
            </div>
            <div class = "mode-options-container">
                <div class="mode-option-column">
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Ionian</button>
                    </div>
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Dorian</button>
                    </div>
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Phyrgian</button>
                    </div>
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Lydian</button>
                    </div>
                </div>
                <div class = "mode-options-column">
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Mixolydian</button>
                    </div>
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Aeolian</button>
                    </div>
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Locrian</button>
                    </div>
                    <div class = "mode-scale-button-container">
                        <button class = "mode-scale-choice" id="mode-button">Random</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="display">
            <span>Hello!</span>
        </div>
    </div>
 </div>